$color-white : #ffff;
$color-grey : #808080;
$color-black : #000000;

//HEADER
$color-active : #ff0000;

//SECTION SEASONS
$color-winter-dark:rgb(0, 119, 255);
$color-winter-light:rgb(147, 196, 251);

$color-spring-dark:rgb(21, 117, 80);
$color-spring-light:rgb(0, 248, 153);

$color-summer-dark: rgb(255, 196, 0);
$color-summer-light:rgb(241, 243, 127);

$color-autumn-dark:rgb(116, 71, 0);
$color-autumn-light:rgb(116, 71, 0);