$color-white : #ffff;
$color-grey : #808080;
$color-grey-dark : #4d4d4d;
$color-black : #000000;

//HEADER
$color-active : #ff0000;

//SECTION SEASONS
$color-winter-dark:rgb(0, 119, 255);
$color-winter-light:rgb(179, 214, 255);

$color-spring-dark:rgb(21, 117, 80);
$color-spring-light:rgb(94, 255, 193);

$color-summer-dark: rgb(177, 135, 0);
$color-summer-light:rgb(241, 243, 127);

$color-autumn-dark:rgb(80, 49, 0);
$color-autumn-light:rgb(179, 110, 0);