footer{
    border:solid black 0.5vw;
    font-size: 2em;
}

.content{
    border:solid pink 1px;
    height: 100px;
}

.primary_col-1-3{
    display: inline-block;
    text-align: center;
    padding: 4%;
}

.primary,.secundary,.terciary{
    text-align: center;
}

.primary_link{
    padding: 5%;
    color:black;
}

#content_2-3{
    width: 100%;
    height: 100%;
    position: relative;
}

#secundary_img{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(4px);
}

.secundary_content{
    display: inline-block;
    padding: 5%;
    margin-top: 15em;
    background-color: white;
    border-radius: 5px;
}

.secundary{
    padding: 2em;
    width: 100%;
    height: 100%;
    position: relative;
}

input,button{
    width: 300px;
    height: 40px;
    display: block;
    margin-top: 1em;
}

.secundary_form{
   display: inline-block;
}

.social{
    width: 2em;
}

.terciary{
    text-align: left;
    background-color: black;
    border:solid white 4px;
}

.terciary_row-1-2{
    padding: 1em;
    text-align: center;
} 

.secundary_map{
    margin-top: 2.5em;
}

.icon{
    width: 40px;
    height: 40px;
}

.arrow{
    width: 20px;
    height: 15px;
}

.item:hover{
    border-bottom: solid black 1px;
}

.sub_item{
    display: none;
}

#content_3-3{
    position: relative;
}

