.main_nav{
    color: $color-white;
    text-align:center;
    background-color: $color-black;
    border: solid $color-black 0.5vw;
    position: relative;
    cursor: pointer;
    height: 3vw;
    width: 100%;
    padding-top: 0.5vh;

    &--title {
        font-size: 1vw;
        width: 20vw;
        margin-left: 40vw;
        transition: transform 0.5s;

        &:hover {
            transform: scale(1.9);
        }
    }

    &--icon{
        font-size: 3vw;
        width: 2vw;
        height: 3.5vh;
        position: absolute;
        clip-path: text;

        &-l {
            top: -1.5vw;
            left: 5;
            
        }
        &-r {
            margin-top: -3.2vw;   
            right: 5;
        }
    }
}

