.main_nav{
    color: $color-white;
    text-align:center;
    background-color: $color-black;
    border: solid $color-black 0.5vw;
    padding: 1rem 0.5rem;
    position: relative;
    cursor: pointer;

    &--title {
        width: 20vw;
        margin-left: 40vw;
    }

    &--icon{
        font-size: 3vw;
        width: 2vw;
        height: 3.5vh;
        position: absolute;
        clip-path: text;

        &-l {
            top: -1rem;
            left: 5;
            
        }
        &-r {
            margin-top: -4rem;   
            right: 5;
        }
    }
}

