.navigation{

    position: relative;

    &__nav {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 30vw;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

    &__list {
        display: inline-block;
        justify-content: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: left;
        width: 100%;

        &[data-animation="to-top"] .navigation__link:hover .navigation__text:first-child {
            transform: translateY(-100%);
        }
        &[data-animation="to-right"] .navigation__link:hover .navigation__text:first-child {
            transform: translateX(100%);
        }
        &[data-animation="to-left"] .navigation__link:hover .navigation__text:first-child {
            transform: translateX(-100%);
        }

        &[data-animation="to-top"] &__link .navigation__text:last-child {
            transform: translateY(100%);
        }
        &[data-animation="to-right"] &__link .navigation__text:last-child {
            transform: translateX(-100%);
        }
        &[data-animation="to-left"] &__link .navigation__text:last-child {
            transform: translateX(100%);
        }
    }

    &__item{
        margin: 1rem;
        letter-spacing: 0.5vw;
        font-weight: bold;
        background-color: $color-white;
        border-radius: 5px;
        height: 8vw;
        padding:2.5vw;
        width: 95%;        
    }

    &__link {
        display: inline-block;
        position: relative;
        overflow: hidden;
        color: $color-black;
        cursor: pointer;
        font-size: 1.5rem;

        &:link,
        &:visited {
            display: inline-block; //for doing a translate effect
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-size: 220%;
            transition: all 0.8s;
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }

            }

        &:hover, &:focus {
            color: $color-grey;
        } 

        &:active {
            color: $color-active;
        }

        & .navigation__text {
            transition: transform 0.2s ease-out;
        }
        &:hover .navigation__text:first-child {
            transform: translateY(130%);
        }
        & .navigation__text:first-child {
            display: inline-block;
            padding: 0.5vw;
        }
        
        &:hover .navigation__text:last-child {
            transform: none;
        }
        & .navigation__text:last-child {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: inline-block;
            align-items: center;
            justify-content: center;
            transform: translateY(-120%);
        }
    }
    
    &__checkbox {
        display: none;
    }

    &__checkbox:checked~&__background {
        border-radius: 0;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }
    &__checkbox:checked~&__nav {
        opacity: 1;
        width: 45%;
    }

    &__button {
        background-color: rgba($color-active, .9);
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 3rem;
        left: 3rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(90deg, rgba($color-grey, 0.95) 0, rgba($color-black, 0.95) 45%, rgba($color-black, 0.5) 45%);
        z-index: 1000;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    }


    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-white;
            display: inline-block;
        }
    
        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
            }
    
            &::before {
                top: -0.8rem;
            }
    
            &::after {
                top: 0.8rem;
            }
        }
        &__button:hover &__icon::before {
            top: -1rem;
        }
    
        &__button:hover &__icon::after {
            top: 1rem;
    
        }
        &__checkbox:checked+&__button &__icon {
            background-color: transparent;
        }
    
        &__checkbox:checked+&__button &__icon::before {
            top: 0;
            transform: rotate(135deg);
        }
    
        &__checkbox:checked+&__button &__icon::after {
            top: 0;
            transform: rotate(-135deg);
        }
}

