.btn-season{

    &,
    &:link,
    &:visited {
        color: $color-black;
        background-color: $color-white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.8rem 4rem;
        display: inline-block;
        position: relative;
        border: 1px solid $color-black;
        cursor: pointer;
        opacity: 0;
        transition: transform 0.2s;
        top: -10%;
    }

    &:hover{

        background-color: $color-black;
        color: $color-white;
        border-color: $color-white;
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        transform: translateY(-7px);
    }

}

.btn-genre{
    background-color: $color-white;
    border: 1px solid $color-black;
    padding: 1.5vh 3vw;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}