.icon_ES {
    width: 1.4vw;
    height: 0.8vw;
    margin-right: 0.5vw;
}
.icon_ubica {
    width: 0.9vw;
    height: 0.9vw;
    margin-right: 0.2vw;
}
.icon_hlp {
    width: 0.7vw;
    height: 1.02vw;
    margin-right: 0.1vw;
}
.icon_email {
    width: 1.1vw;
    height: 0.94vw;
    margin-right: 0.1vw;
}
.icon_info {
    width: 1vw;
    height: 0.9vw;
}
.icon_cuenta {
    width: 0.9vw;
    height: 0.9vw;
    margin-right: 0.2vw;
}
.icon_cesta {
    width: 1.2vw;
    height: 0.9vw;
    margin-right: 0.2vw;
}

.icon_m {
    width: 2.5vw;
    height: 2vw;
}
.icon_w {
    width: 2.5vw;
    height: 2vw;
}
.icon_child {
    width: 4vw;
    height: 2vw;
}
.icon_v {
    width: 3vw;
    height: 2.3vw;
}
.icon_z {
    width: 3vw;
    height: 2.3vw;
}
.icon_au {
    width: 4vw;
    height: 3.5vw;
}

.icon_footer {
    margin: 0.7vw 1vw 0 0;
    width: 5vw;
    height: 5vw;
}