.sale{
    width:24vw;
    height: 50vh;
    margin: 1vh 4vw;
    background-image: linear-gradient(90deg, #aa0202, #ff0000);
    display:inline-block;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s;

    &__text{
        position: relative;
        color: $color-white;
        padding: 20vh 2vh;
        text-align: center;
        

        & span{
            display: block;
        }

        &-1{
            font-size: 1.5vw;
            text-transform: uppercase;
            font-weight: bolder;
        }
        &-2{
            font-size: 1vw;
            text-transform: uppercase;
            letter-spacing: 1rem;
        }
        &-3{
            font-size: 5vw;
            text-transform: uppercase;
            font-weight: bolder;
            
        }
    }
    
    &:hover{
        transform: scale(1.2);
        border: 1px solid $color-white;
    }
}