* {
    padding: 0vw;
    margin: 0vw;
    width:100%;
    box-sizing: border-box;
}

/*a {
    color: black;

    &:hover, &:focus {
        color: grey;
    } 

    &:active {
        color: white;
    }
}*/
