* {
    box-sizing: inherit;
    padding: 0vw;
    margin: 0;
}


html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

