
.section-genre {
    height:100vh;
    padding:0 0;

    &__girl {
        position:absolute;
    }

    &__boy {
        position:absolute;
        left:50%;
    }

    &__girl:hover img{
        filter:none;
    }

    &__boy:hover img{
        filter:none;
    }

}

.section-season{
    padding: 10rem 0;
    background-color: black;

    &:hover .heading-season{
        opacity:1;
    }

    &:hover .btn-season{
        opacity:1;
    }
}

.section-commercial__store{
    max-width: 100%;
}