
.section-genre {
    height:100vh;
    padding:0 0;

    &__girl {
        position:absolute;
    }

    &__boy {
        position:absolute;
        left:50%;
    }

    &__girl:hover img{
        filter:none;
    }

    &__boy:hover img{
        filter:none;
    }

}