
.section-genre {
    height:100vh;
    padding:0 0;
    width: 100%;

    &__girl {
        position:absolute;
    }

    &__boy {
        position:absolute;
        left:50%;
    }

    &__girl:hover img{
        filter:none;
    }

    &__boy:hover img{
        filter:none;
    }

}

.section-season{
    text-align: center;
    padding: 10rem 0;
    background-color: $color-black;
}

.section-commercial__store{
    max-width: 100%;
}